DATABASE_URL=postgresql://postgres:postgres@postgres:5432/fastapi_db

SECRET_KEY=6cae8ba44ac5b8a6403242a27cd941ea98971fb5196b0b81989610370f46670f

ALGORITHM=HS256

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_db

REDIS_URL=redis://redis:6379/0